<mat-toolbar>I am looking for...</mat-toolbar>


<div style="width:60vw; height:60vh;">
        <button style="font-size: 80px" class="text" (click)="openDialog()" mat-raised-button style="width: 80%; height: 30%; display: block; margin-left:auto; margin-right: auto; margin-top: 10vh; margin-bottom: 10vh; background-color: rgb(255, 130, 130)">
            <i style="font-size: 60px" class="fa fa-hands-helping"></i>
            <span style="font-size: 40px">To find a caregiver</span>
            </button>
        <button class="text" routerLink="/" mat-raised-button style="width: 80%; height: 30%; display: block; margin-left:auto; margin-right: auto; margin-top: 10vh; margin-bottom: 10vh; background-color: rgb(255, 130, 130)">
            <i style="font-size: 60px" class="fa fa-hand-holding-heart"></i>
            <span style="font-size: 40px">To take care of a neighbour</span>
            </button>
</div>
