<mat-grid-list cols="2" height="100vh">
        <mat-grid-tile style="padding-top:20vh">
          <mat-card style='width:50%; height:50%; margin-top:20vh'>
            
            <div class="text" style="margin-left: 10%; margin-bottom: 30px;">Have you signed up?</div>
          
            <button class="text" mat-raised-button style="width:80%; left: 10%; border-radius: 5px">LOGIN</button>
            <button routerLink="/signup" class="text" mat-raised-button style="width:80%; left: 10%; border-radius: 5px">SIGNUP</button>
          
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="second"></mat-grid-tile>
      </mat-grid-list>